@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.choice {
    display: flex;
    justify-content: center;
    align-items: center;


    &__inner {
        background-image: url('../images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 812px;
        width: 375px;
        flex-direction: column;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 138px;
        padding: 40px 20px 0 20px;
    }

    &__restore {
        font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        color: rgba(255, 255, 255, 0.6);
        font-size: 13px;
        line-height: 41px;
        letter-spacing: -0.216667px;

    }

    &__unlimite {
        font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 29px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        margin-left: 66px;
        margin-bottom: 44px;
    }

    &__menu-list {
        display: flex;
    }

    &__menu-imgdoc {
        margin-right: 7px;
    }

    &__menu-imgexp {
        margin-right: 12px;
    }

    &__menu-imgtext {
        margin-right: 10px;
    }

    &__menu-title {
        font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 17px;
        line-height: 30px;
        letter-spacing: -0.321111px;
        color: #FFFFFF;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);
    }

    &__card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }

    &__card-image {
        bottom: -3px;
        right: 0;
        position: absolute;
        z-index: 20;
        height: 21px;
        width: 21px;
    }

    &__card-imagetwo {
        position: absolute;
        left: -2px;
        top: -2px;
        height: 21px;
        width: 21px;
        z-index: 25;
    }

    &__card-month {
        background: linear-gradient(0deg, rgba(73, 87, 149, 0.197154), rgba(73, 87, 149, 0.197154));
        border: 1px solid #495795;
        border-radius: 21px;
        height: 178px;
        width: 144px;
        margin-right: 15px;
        text-align: center;
    }

    &__card-title {
        margin-top: 25px;
        margin-bottom: 11px;
        font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 19px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }

    &__card-price {
        margin-top: 25px;
        margin-bottom: 11px;
        font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 24px;
        line-height: 15px;
        color: #FFFFFF;
        font-weight: 600;
    }

    &__card-per {
        font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 13px;
        line-height: 15px;
        color: #FFFFFF;
        font-weight: 400;
        max-width: 68px;
    }

    &__card-day {
        position: absolute;
        font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        font-weight: 700;
        background-color: #495795;
        width: 151px;
        height: 21px;
        left: 29px;
        top: 120px;
    }

    &__card-money {
        margin-top: 43px;
        font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
    }

    &__but-link {
        padding: 0 47px 0 48px;
    }

    &__button {
        background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
        border-radius: 30px;
        font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 17px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        font-weight: bold;
        padding: 19px 105px 18px 105px;
        border: none;
        cursor: pointer;
        margin-bottom: 16px;
    }

    &__auto {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin-bottom: 16px;
    }

    &__privacy {
        display: flex;
        justify-content: space-between;
        padding: 0 24px 0 27px;
    }

    &__privacy-link {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 9px;
        border-bottom: 1px solid #BDC0D0;
        color: #BDC0D0;
        margin-bottom: 27px;
    }

    &__line {
        width: 134px;
        height: 5px;
        background: #FFFFFF;
        border-radius: 100px;
        margin: 0 auto;
        margin-bottom: 6px;
    }



    // &__card-title--active {
    //     margin-top: 23px;
    //     margin-bottom: 18px;
    // }

    // &__card-price--active {
    //     font-size: 22px;
    //     line-height: 15px;
    // }

    // &__card-per--active {
    //     margin-bottom: 9px;
    //     font-size: 12px;
    //     line-height: 15px;
    // }

    // &__card-day--active {
    //     font-size: 14px;
    //     line-height: 16px;
    //     width: 150px;
    //     height: 20px;
    //     left: 30px;
    //     top: 117px;
    //     margin-bottom: 10px;
    // }

    // &__card-money--active {
    //     font-size: 13px;
    //     line-height: 15px;
    // }

    &__card-procent {
        position: absolute;
        background-color: #DB0000;
        width: 38px;
        height: 38px;
        border: none;
        border-radius: 50%;
        top: -4px;
        right: 33px;
        text-align: center;
        padding: 12px 0;
        font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        font-weight: 700;
    }


    &__card-yeartitle {
        margin-top: -23px;
        margin-bottom: 11px;
        font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 19px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        left: 2px;
    }

    &__card-yearprice {
        margin-top: 25px;
        margin-bottom: -14px;
        font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 24px;
        line-height: 15px;
        color: #FFFFFF;
        font-weight: 600;
        text-align: center;
        position: relative;
        left: 4px;
    }

    &__card-yearday {
        font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #fff;
        font-weight: 700;
        background-color: #495795;
        width: 151px;
        height: 21px;
        left: 2px;
        top: 28px;
        position: relative;
    }

    &__card-yearmoney {
        font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        top: 36px;
        text-align: center;
        left: 3px;
    }
}

.item {
    background-repeat: no-repeat;
    position: relative;
    bottom: 349px;
    right: -195px;
    border: 1px;
}


text {
    fill: #fff;
    font-weight: 700;
    font-size: 12px;
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.image {
    height: 178px;
    width: 144px;
    cursor: pointer;
}

// @media screen and (max-width: 376px),
// screen and (max-height: 667px) {
//     .choice {
//         &__header {
//             margin-bottom: 10px;
//         }

//         &__unlimite {
//             margin-bottom: 14px;
//         }

//         &__menu {
//             margin-bottom: 15px;
//         }
//     }

// }


// @media screen and (max-width: 375px),
// screen and (max-height: 812px) {
//     .choice {
//         &__header {
//             margin-bottom: 100px;
//         }

//         &__unlimite {
//             margin-bottom: 14px;
//         }

//         &__menu {
//             margin-bottom: 15px;
//         }
//     }

// }

.active {
    opacity: 0.4;
}